---
layout: default
---

<section>

Hello.

This is my academic website. It's a work-in-progress.



I am a PhD student in economics at the University of Graz. I am also a member of the interdisciplinary Doctoral College Climate Change at the Wegener Center.

<div class="divider"></div>

</section>

<section>

	<div class="center">
		<h1 class="title">Recent Activities</h1>
	</div>
	
	<div class="divider"></div>
	
	{% assign sorted = ((site.documents | sort: date) | reverse) %}
	{% assign recent_activities = "" | split: "/" %}
	{% for post in sorted limit:5 %}
		{% assign recent_activities = recent_activities | push: post %}
	{% endfor %}
	{% assign recent_activities = (recent_activities | group_by: "type") %}
	{% for group in recent_activities %}
		{% assign anitem = group.items | first %}
		<h3 class="code" style="text-transform: capitalize;">{{ anitem.type }}</h3>
		{% for item in group.items %}
			<ul>
				<li>
					<div class="title">
						<a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}">{{ item.title }}</a>
					</div>
				</li>
			</ul>
	{% endfor %}
	{% endfor %}

</section>
